src/main/resources/observation.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="observations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="station">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="wmocode" type="xs:string" />
              <xs:element name="longitude" type="xs:decimal" />
              <xs:element name="latitude" type="xs:decimal" />
              <xs:element name="phenomenon" type="xs:string" />
              <xs:element name="visibility" type="xs:string" />
              <xs:element name="precipitations" type="xs:string" />
              <xs:element name="airpressure" type="xs:string" />
              <xs:element name="relativehumidity" type="xs:string" />
              <xs:element name="airtemperature" type="xs:string" />
              <xs:element name="winddirection" type="xs:string" />
              <xs:element name="windspeed" type="xs:string" />
              <xs:element name="windspeedmax" type="xs:string" />
              <xs:element name="waterlevel" type="xs:string" />
              <xs:element name="waterlevel_eh2000" type="xs:string" />
              <xs:element name="watertemperature" type="xs:string" />
              <xs:element name="uvindex" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="timestamp" type="xs:unsignedInt" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>